<a href="https://colab.research.google.com/github/MagdaSousa/Estatistica/blob/main/Variaveis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fontes de pesquisa para elaboração dessa tarefa:

http://archive.ics.uci.edu/ml/datasets/Iris  
https://www.datacamp.com/community/tutorials/machine-learning-in-r  
https://posgraduando.com/as-variaveis-quantitativas-e-qualitativas-e-os-testes-estatisticos/#:~:text=Uma%20vari%C3%A1vel%20originalmente%20quantitativa%20pode,%2C%20%C3%A9%20qualitativa%20(ordinal).

# Variáveis Qualitativas:

As variáveis qualitativas podem também ser chamadas de categóricas, são relacionadas a qualidade e características dos indivíduos,não podem ser medidas númericamente e geralmente está relacionada a classificação dos indivíduos. São divididas em dois grupos, qualitativas nominais e Ordinais.

Qualitativas Nominais:

São dados que não representam ordenação, apenas características dos indivíduos, como cor dos olhos, sexo,não fumante, fumante, etc. Exemplos:

No caso abaixo trago como exemplo o dataset Iris, ele contém dados de largura, altura e das petalas e das sepalas e o target que no caso seria o tipo de iris que pode ser setosa, versicolor e virginica, esses dados são muito utilizados para problemas de classificação em Machine learning..

Nesse caso os valores contidos na coluna 'Tipos de Iris' se enquadram na questão de variáveis qualitativas, onde descrevem o tipo de iris dadas as caractetísticas...

In [ ]:
from sklearn.datasets import load_iris
import pandas as pd
iris = load_iris()
columns = list(iris.feature_names)
df = pd.DataFrame(iris.data,columns=columns)

df['Tipos de Iris'] = iris.target
df['Tipos de Iris'] = df['Tipos de Iris'].replace(to_replace= [0, 1, 2], value = ['setosa', 'versicolor', 'virginica'])

df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Tipos de Iris
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

Qualitativas ordinais:
- São dados categóricos que possuem algum tipo de ordenação, exemplo estágio de doenças, classificação em uma corrida(1º lugar,2ºlugar, etc..)e também podemos considerar como dados categóricos ordinais meses do ano, como utilizo no exemplo abaixo:


- Ainda utilizando o exemplo do dataset Iris, para exemplificar uma variável qualitativa ordinal, poderíamos incluir nesse dataset uma coluna "Mês de observação", por exemplo. Nesse conteexto ela representará a ordem em relação ameses que os dados foram coletados:  

*OBS. estou incluindo essa coluna em carater de exemplo, ela não pertence originalmente a esse dataset*

In [ ]:
!pip install faker
from faker import Faker
faker = Faker()
df['Mês de observação'] =faker.month_name()
df.head()

Requirement already satisfied: faker in /usr/local/lib/python3.7/dist-packages (13.3.4)
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from faker) (4.1.1)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Tipos de Iris,Mês de observação
0,5.1,3.5,1.4,0.2,setosa,August
1,4.9,3.0,1.4,0.2,setosa,August
2,4.7,3.2,1.3,0.2,setosa,August
3,4.6,3.1,1.5,0.2,setosa,August
4,5.0,3.6,1.4,0.2,setosa,August

# Variáveis Quantitativas  

As variáveis quantitativas são características que podem ser descritas por números, sendo estas classificadas entre contínuas e discretas.

- Quantitativas contínuas:

Ainda utilizando o exemplo do dataset Iris, variáveis quantitativas contínuas, são aquelas avaliadas em números com casas decimais( em programação float, double), geralmente oriundos de alguma medição, exemplo peso, valores de imóveis e outros. Nesse caso poderiamos classificar como variáveis desse tipo as colunas/features :  

'sepal length (cm)',  
 'sepal width (cm)',  
 'petal length (cm)',  
 'petal width (cm)'  
 Que nesse caso representam o tamanho da petala ou sepala em centímetros...

In [ ]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

- Quantitativa discretas:   


*Ao analisar as variáveis quantitativas discretas, podemos dizer que se referem a númeeros inteiros resultados de contagem, número de pessoas por metro quadrado, número de filhos, quantidade de população de uma cidade. Mas tranzendo a explicação para onosso exemplo, poderiamos então criar uma nova tabela, onde fariamos a contagem de quantas plantas foram analisadas de cada tipo, nessa nova tabela teriamos o campo espécie e quantidade observada, neste caso teriamos como variavel quantitativa discreta os valores da feature/coluna "quantidade observada", segue o exemplo abaixo*:

In [ ]:
tipos=df['Tipos de Iris'].value_counts().to_dict()
df_especies =pd.DataFrame()
df_especies["especies"]=tipos.keys()
df_especies["quantidade observada"]=tipos.values()
df_especies.head()

     especies  quantidade observada
0      setosa                    50
1  versicolor                    50
2   virginica                    50